body {
    margin: 0px;
}

div.first {
    /* border: 20px solid red; */
    border-top: 5px solid red;
    border-right: 10px solid #0000ff;
    border-bottom: 15px solid #00ff00;
    border-left: 15px solid rgba(255, 0, 0, 0.5);


    /* padding 4방향을 동시에 설정 */
    /* padding: 20px; */

    padding-top: 50px;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-left: 20px;

    /* margin: 20px; */

    margin: 30px 60px;
    /* 4개를 연달아 쓰면 위, 오른쪽, 아래, 왼쪽 순 
       3개를 연달아 쓰면 위, 좌우, 아래 
       2개를 연달아 쓰면 위아래, 좌우
       1개를 쓰면 상하좌우 모두 한번에 적용 
    */

    /* width: 300px; */
    width: 50%;
    /* height: 50px; */

}

div.second {
    border: 1px solid red;
    width: 200px;

    /* margin에 auto는 가운데 정렬을 뜻한다 */
    margin: -20px auto;
}

div.third {
    border: 1px solid red;
    max-width: 700px;
    min-width: 600px;

    border-radius: 10px;
}

div.fourth img {
    border-width: 2px;
    border-style: dotted;
    border-color: grey;

    width: 200px;
    height: 200px;

    /* 나중에 배울 예정: img는 margin auto로 가운데 정렬이 안된다 */
    margin: auto;

    border-radius: 50%;

}

div.talk {
    width: 100px;
    background-color: yellow;
    border: 2px groove black;
    padding: 10px;

    border-radius: 20px 0 20px 20px;
}

div.talk.right {
    border-radius: 20px 0 20px 20px;
    margin-left: 200px;
}

div.talk.left {
    border-radius: 0px 20px 20px 20px;
}

#p,#c1,#c2 {
    border: 1px solid red;
}

#p {
    margin-top: 20px;
}

#c1 {
    margin: 20px;
}

#c2 {
    margin: 20px;
}

div.box {
    border: 1px solid red;
    margin: 10px;
    padding: 50px;
    width: 50%;
}

div.box.border {
    box-sizing: border-box;
}